[project]
	description = Interactive command execution in Vim.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cavanaug
[access "refs/for/refs/*"]
	read = group user/cavanaug
	push = group user/cavanaug
	label-Code-Review = -2..+2 group user/cavanaug
	label-Verified = -1..+1 group user/cavanaug
	rebase = group user/cavanaug
	removeReviewer = group user/cavanaug
	submit = group user/cavanaug
[access "refs/heads/*"]
	read = group user/cavanaug
	create = group user/cavanaug
	push = +force group user/cavanaug
	pushMerge = group user/cavanaug
[access "refs/tags/*"]
	push = +force group user/cavanaug
	pushTag = group user/cavanaug
	pushSignedTag = group user/cavanaug
